html {
  box-sizing: border-box;
  font-size: 1rem;
  width: 100%;
  font-family: "Great Vibes", cursive;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

dt {
  color: maroon;
  text-decoration: underline;
}

.menu {
  padding: 50px;
  color: black;
  background: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  text-align: center;
  font-size: 3rem;
  font-family: cursive;
}

.menu dd {
  font-size: 2rem;
}

.menu-price {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.info ul {
  display: flex;
  justify-content: center;
  margin: 0;
  list-style: none;
  padding: 0;
}

.info li {
  margin: 5px;
}

.fa-exclamation-circle {
  color: rgb(222, 190, 13);
}

.fa-pepper-hot {
  color: rgba(18, 124, 18, 0.906);
}

.fa-bread-slice {
  color: rgb(172, 146, 113);
}

.fa-carrot {
  color: rgb(216, 86, 38);
}
