/* ----------------- Whole Page ----------------- */

html {
  box-sizing: border-box;
  font-size: 1rem;
  width: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.container {
  width: 100%;
  margin: 0 auto;
  background: black;
  color: white;
}

/* ----------------- Whole Page ----------------- */

/* ----------------- Header ----------------- */
header {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

/* .jumbo-tron {
  background: blue;
  width: 400px;
  height: 200px;
}

.jumbo-tron img {
  width: 100%;
  height: 100%;
} */

#social-media {
  margin: 5px;
  
}

#social-media ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.social-media-links li {
  display: flex;
  justify-content: flex-end;
}

.social-media-links:nth-child(1) {
  color: white;
}

.logo {
  font-family: 'Great Vibes', cursive;
  font-size: 60px;
  border: 1px solid transparent;
  color: white;
  border-radius: 1000px;
  width: 1373px;
  text-align: right;
  margin-top: 10px;
  padding-right: 25px;
  background-image: url(../images/logo.jpg);
  background-position-x: -2px;
  background-position-y: -1345px;
  background-size: 101%;
  background-repeat: no-repeat;
}

/* ----------------- Header ----------------- */

/* ----------------- Nav-Bar ----------------- */

.nav-bar {
  display: flex;
  margin: 10px;
  justify-content: space-evenly;
}

.nav-bar button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
}
/* ----------------- Nav-Bar ----------------- */

/* ----------------- Banner ----------------- */
.banner-img {
  margin: 10px 0;
}
.banner-img img {
  width: 1410px;
  height: 400px;
}

/* ----------------- Banner ----------------- */

/* ----------------- Main-Content ----------------- */
.special {
  width: 100%;
  text-align: center;
  font-family: 'Great Vibes', cursive;
  font-size: 50px;
}

#desc {
  font-size: 20px;
  font-family: 'Arial', 'Helvetica', sans-serif;
}


/* ----------------- Main-Content ----------------- */

/* ----------------- Footer ----------------- */

.info {
  display: flex;
  justify-content: space-evenly;
}

/* ----------------- Footer ----------------- */
