html {
  box-sizing: border-box;
  font-size: 1rem;
  width: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.container {
  width: 95%;
  margin: auto;
}

header {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.jumbo-tron {
  background: blue;
  width: 400px;
  height: 200px;
}

.jumbo-tron img {
  width: 100%;
  height: 100%;
}

#social-media {
  margin: 5px;
  background: purple;
}

#social-media ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.social-media-links li {
  background: pink;
  margin: 0 10px;
}

.logo {
  background: green;
  margin: 5px;
}

.special {
  border: 1px solid black;
  width: 100%;
  text-align: center;
}

.info {
  display: flex;
  justify-content: space-evenly;
}

